In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab as pl
from sklearn.preprocessing import LabelEncoder

from sklearn.metrics import f1_score, recall_score, precision_score, accuracy_score
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

import seaborn as sns 
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.tree import DecisionTreeClassifier 
from pylab import rcParams
from sklearn.neighbors import KNeighborsRegressor

from imblearn.over_sampling import RandomOverSampler
from imblearn.combine import SMOTETomek
from imblearn.ensemble import BalancedBaggingClassifier 
from collections import Counter

In [2]:
df = pd.read_csv('/home/dsc/Master-Kschool/TFM/cleanned_data/df.tfm')

In [3]:
df.describe()

,cliente,saldo_captacion,gestor,codigo_cartera,saldo_financiacion,saldo_ffii,saldo_plp,lp_dom_ingresos,lp_tjta_cto,lp_tjt_rev,lp_rbos,lp_of_int,edad,dz,oficina,lp_seg_vida,lp_seg_acc,lp_seg_salud,lp_seg_hogar,lp_seg_auto
count,451374.000000,4.513740e+05,451374.000000,451374.000000,4.513740e+05,4.513740e+05,451374.000000,451374.000000,451374.000000,451374.000000,451374.000000,451374.000000,451374.000000,451374.000000,451374.000000,451374.000000,451374.000000,451374.000000,451374.000000,451374.000000
mean,225687.500000,4.971455e+04,21205.688338,20873.520134,1.380668e+04,8.483663e+03,1728.478326,0.707125,0.550479,0.237577,0.871856,0.773164,58.268941,5.928217,609.310944,0.083868,0.019997,0.004263,0.130293,0.013807
std,130300.594539,8.792364e+04,13363.044012,12534.002042,4.296438e+04,3.844671e+04,10780.622435,0.455082,0.497446,0.425599,0.334251,0.418786,19.018368,3.226722,322.806340,0.277191,0.139989,0.065149,0.336626,0.116688
min,1.000000,-5.104332e+04,17.000000,1292.000000,-4.900000e+03,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,110.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,112844.250000,1.813182e+03,10001.000000,14081.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,45.000000,3.000000,321.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,225687.500000,1.520828e+04,18250.000000,15114.000000,0.000000e+00,0.000000e+00,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,60.000000,6.000000,611.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,338530.750000,6.446964e+04,34050.000000,27848.000000,6.841775e+02,0.000000e+00,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,73.000000,9.000000,916.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,451374.000000,5.290216e+06,57659.000000,98103.000000,2.896317e+06,3.130940e+06,459937.460000,1.000000,1.000000,1.000000,1.000000,1.000000,118.000000,11.000000,1124.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
print(df.groupby('lp_seg_hogar').size())

lp_seg_hogar
0    392563
1     58811
dtype: int64