# Cleaning & Preparing Data.

Cargamos Libreria Pandas

In [3]:
import pandas as pd

#### - Direccion actual

In [4]:
pwd

'C:\\Users\\manue\\TFM\\Financial-Product-Sales-Forecast-Model\\Cleanning & Merging'

### RUTA CARPETA LOCAL

In [5]:
# CAMBIAR SEGUN RUTA LOCAL HASTA UBICACION DE REPOSITORIO
ruta = '/Users/manue/TFM'

Leemos el Data Frame creado con el anterior paso de Merge.

In [6]:
df = pd.read_csv(ruta + '/Financial-Product-Sales-Forecast-Model/Cleanning & Merging/df_merged.csv')

Visualizamos las 5 primeras filas del df

In [7]:
df.head()

,cliente,saldo_captacion,esta_carterizado,cliente_bbp,tipo_gestor,gestor,cartera_patron,codigo_cartera,digital_3_meses,camino_digital,...,edad,seg_valor,seg_recorrido,dz,oficina,lp_seg_vida,lp_seg_acc,lp_seg_salud,lp_seg_hogar,lp_seg_auto
0,54073,606781.74,SI,NO,ASESOR FINANCIERO,34000.0,ASESORAMIENTO FINANCIERO,34624.0,SI,TRANSACCIONAL,...,76.0,ALTO,BAJO RECORRIDO,1,110,0,0,0,0,0
1,54074,642217.25,SI,NO,ASESOR FINANCIERO,11425.0,ASESORAMIENTO FINANCIERO,37074.0,NO,POCO USO,...,72.0,ALTO,BAJO RECORRIDO,1,110,0,0,0,0,0
2,54075,377560.33,SI,NO,ASESOR FINANCIERO,34000.0,ASESORAMIENTO FINANCIERO,34624.0,NaN,NaN,...,75.0,ALTO,BAJO RECORRIDO,1,110,0,0,0,1,0
3,54076,319380.38,SI,NO,ASESOR FINANCIERO,23108.0,ASESORAMIENTO FINANCIERO,13835.0,SI,COMPRADOR,...,69.0,ALTO,BAJO RECORRIDO,1,110,0,0,0,0,0
4,54077,293443.44,SI,NO,ASESOR FINANCIERO,23108.0,ASESORAMIENTO FINANCIERO,13835.0,SI,CONSULTIVO,...,72.0,ALTO,BAJO RECORRIDO,1,110,0,0,0,0,1

Vemos la dimension del df. 451.374 filas / 30 columnas

In [8]:
df.shape

(451374, 30)

# Tratamiento de Missing Data

Primera busqueda de datos Nans. Confirmamos que existen 10 variables distintas que contienen Nans.  Revisamos sus valores y asignamos a los nans un nuevo valor acorde a su naturaleza.

In [9]:
df.isna().any()

cliente               False
saldo_captacion        True
esta_carterizado      False
cliente_bbp           False
tipo_gestor            True
gestor                 True
cartera_patron         True
codigo_cartera         True
digital_3_meses        True
camino_digital         True
saldo_financiacion     True
saldo_ffii            False
saldo_plp             False
lp_dom_ingresos       False
lp_tjta_cto           False
lp_tjt_rev            False
lp_rbos               False
lp_of_int             False
marca_bp              False
marca_ccte             True
edad                   True
seg_valor             False
seg_recorrido         False
dz                    False
oficina               False
lp_seg_vida           False
lp_seg_acc            False
lp_seg_salud          False
lp_seg_hogar          False
lp_seg_auto           False
dtype: bool

Valores de las columnas con Nans. No se listan variables Int or Float

In [10]:
#print(df['SF_AH_CAPTACION_TT'].unique())
print(df['tipo_gestor'].unique())
#print(df['GESTOR'].unique())
print(df['cartera_patron'].unique())
#print(df['CODIGO_CARTERA'].unique())
print(df['digital_3_meses'].unique())
#print(df['SF_FINANCIACION_TT'].unique())
print(df['marca_ccte'].unique())
#print(df['EDAD'].unique())
print(df['camino_digital'].unique())

['ASESOR FINANCIERO' nan 'SUBDIRECCIÃ“N DE OFICINA']
['ASESORAMIENTO FINANCIERO' nan 'TUTELA']
['SI' 'NO' nan]
['AF' 'CCTE' nan]
['TRANSACCIONAL' 'POCO USO' nan 'COMPRADOR' 'CONSULTIVO']

Asignamos valores acorde a la naturaleza de cada segmento

In [11]:
df.fillna({'saldo_captacion': 0, 'tipo_gestor' : 'SIN GESTOR', 'gestor': 10001, 'cartera_patron': 'SIN CARTERA',
          'codigo_cartera': 10001, 'digital_3_meses':'NO','camino_digital':'SIN USO','saldo_financiacion': 0,
           'marca_ccte':'SIN MARCA','edad':0},
         inplace = True)

Confirmamos que hemos solucionado los Nans

In [12]:
df.isna().any()

cliente               False
saldo_captacion       False
esta_carterizado      False
cliente_bbp           False
tipo_gestor           False
gestor                False
cartera_patron        False
codigo_cartera        False
digital_3_meses       False
camino_digital        False
saldo_financiacion    False
saldo_ffii            False
saldo_plp             False
lp_dom_ingresos       False
lp_tjta_cto           False
lp_tjt_rev            False
lp_rbos               False
lp_of_int             False
marca_bp              False
marca_ccte            False
edad                  False
seg_valor             False
seg_recorrido         False
dz                    False
oficina               False
lp_seg_vida           False
lp_seg_acc            False
lp_seg_salud          False
lp_seg_hogar          False
lp_seg_auto           False
dtype: bool

In [13]:
#print(df['SF_AH_CAPTACION_TT'].unique())
print(df['tipo_gestor'].unique())
#print(df['GESTOR'].unique())
print(df['cartera_patron'].unique())
#print(df['CODIGO_CARTERA'].unique())
print(df['digital_3_meses'].unique())
#print(df['SF_FINANCIACION_TT'].unique())
print(df['marca_ccte'].unique())
#print(df['EDAD'].unique())
print(df['camino_digital'].unique())

['ASESOR FINANCIERO' 'SIN GESTOR' 'SUBDIRECCIÃ“N DE OFICINA']
['ASESORAMIENTO FINANCIERO' 'SIN CARTERA' 'TUTELA']
['SI' 'NO']
['AF' 'CCTE' 'SIN MARCA']
['TRANSACCIONAL' 'POCO USO' 'SIN USO' 'COMPRADOR' 'CONSULTIVO']

# Tipos de Datos

In [14]:
df.dtypes

cliente                 int64
saldo_captacion       float64
esta_carterizado       object
cliente_bbp            object
tipo_gestor            object
gestor                float64
cartera_patron         object
codigo_cartera        float64
digital_3_meses        object
camino_digital         object
saldo_financiacion    float64
saldo_ffii            float64
saldo_plp             float64
lp_dom_ingresos         int64
lp_tjta_cto             int64
lp_tjt_rev              int64
lp_rbos                 int64
lp_of_int               int64
marca_bp               object
marca_ccte             object
edad                  float64
seg_valor              object
seg_recorrido          object
dz                      int64
oficina                 int64
lp_seg_vida             int64
lp_seg_acc              int64
lp_seg_salud            int64
lp_seg_hogar            int64
lp_seg_auto             int64
dtype: object

Generamos un nuevo csv con los datos limpios y ordenados por numero de cliente.

In [15]:
pwd

'C:\\Users\\manue\\TFM\\Financial-Product-Sales-Forecast-Model\\Cleanning & Merging'

In [16]:
df.sort_values(by = 'cliente').to_csv('df_cleanned.csv', index = False)