In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('7_FINANCIACION.xlsx')

In [3]:
df

       DZ  OFICINA  PERSONA  SF_FINANCIACION_TP
0       7      710   229063                0.00
1       7      710   229064                0.00
2       7      710   229065                0.00
3       7      710   229066                0.00
4       7      710   229067                0.00
5       7      710   229068                0.00
6       7      710   229069                0.00
7       7      710   229070                0.00
8       7      710   229071                0.00
9       7      710   229072                0.00
10      7      710   229073                0.00
11      7      710   229074                0.00
12      7      710   229075                0.00
13      7      710   229076                0.00
14      7      710   229077                0.00
15      7      710   229078                0.00
16      7      710   229079                0.00
17      7      710   229080                0.00
18      7      710   229081                0.00
19      7      710   229082                0.00
20      7      710   229083                0.00
21      7      710   229084                0.00
22      7      710   229085                0.00
23      7      710   229086                0.00
24      7      710   229087                0.00
25      7      710   229088                0.00
26      7      710   229089                0.00
27      7      710   229090                0.00
28      7      710   229091                0.00
29      7      710   229092             1285.47
...    ..      ...      ...                 ...
37896   7      722   447279               14.79
37897   7      722   447280            36830.38
37898   7      722   447281                0.00
37899   7      722   447282                0.00
37900   7      722   447283                0.00
37901   7      722   447284                0.00
37902   7      722   447285              240.66
37903   7      722   447286           111515.70
37904   7      722   447287                0.00
37905   7      722   447288                0.00
37906   7      722   447289           231489.32
37907   7      722   447290           222816.92
37908   7      722   447291                0.00
37909   7      722   447292                0.00
37910   7      722   447293                0.00
37911   7      722   447294                0.00
37912   7      722   447295                0.00
37913   7      722   447296           111200.00
37914   7      722   447297                0.00
37915   7      722   447298                0.00
37916   7      722   447299                0.00
37917   7      722   447300                0.00
37918   7      722   447301                0.00
37919   7      722   447302                0.00
37920   7      722   447303                0.00
37921   7      722   447304                0.00
37922   7      722   447305                0.00
37923   7      722   447306                0.00
37924   7      722   447307                0.00
37925   7      722   447308                0.00

[37926 rows x 4 columns]