# Cleaning & Preparing Data

#### - Load Library

In [1]:
import pandas as pd

#### - Current Route

In [2]:
pwd

'/home/dsc/Master-Kschool/TFM/cleanned_data'

#### - Read  Data Frame

In [4]:
df = pd.read_csv('/home/dsc/Master-Kschool/TFM/merged_data/df_tfm.csv')

#### - Head for first looking

In [5]:
df.head()

,Unnamed: 0,PERSONA,SF_AH_CAPTACION_TT,ESTA_CARTERIZADO,CLIENTE_BBP,TIP_GESTOR,GESTOR,CARTERA_PATRON,CODIGO_CARTERA,DIGITAL_3_MESES,...,EDAD,SEGMENTO_VALOR,SEGMENTO_RECORRIDO,DZ,OFICINA,LP_SEG_VIDA,LP_SEG_ACCIDENT,LP_SEG_MEDICOS,LP_SEG_MULTIRRIES,LP_SEG_AUTO
0,0,54073,606781.74,SI,NO,ASESOR FINANCIERO,34000.0,ASESORAMIENTO FINANCIERO,34624.0,SI,...,76.0,ALTO,BAJO RECORRIDO,1,110,0,0,0,0,0
1,1,54074,642217.25,SI,NO,ASESOR FINANCIERO,11425.0,ASESORAMIENTO FINANCIERO,37074.0,NO,...,72.0,ALTO,BAJO RECORRIDO,1,110,0,0,0,0,0
2,2,54075,377560.33,SI,NO,ASESOR FINANCIERO,34000.0,ASESORAMIENTO FINANCIERO,34624.0,NaN,...,75.0,ALTO,BAJO RECORRIDO,1,110,0,0,0,1,0
3,3,54076,319380.38,SI,NO,ASESOR FINANCIERO,23108.0,ASESORAMIENTO FINANCIERO,13835.0,SI,...,69.0,ALTO,BAJO RECORRIDO,1,110,0,0,0,0,0
4,4,54077,293443.44,SI,NO,ASESOR FINANCIERO,23108.0,ASESORAMIENTO FINANCIERO,13835.0,SI,...,72.0,ALTO,BAJO RECORRIDO,1,110,0,0,0,0,1

#### -  Shape to see rows & columns

In [6]:
df.shape

(451374, 31)

# Handling missing data

#### - First check for nans

In [7]:
df.isna().any()

Unnamed: 0              False
PERSONA                 False
SF_AH_CAPTACION_TT       True
ESTA_CARTERIZADO        False
CLIENTE_BBP             False
TIP_GESTOR               True
GESTOR                   True
CARTERA_PATRON           True
CODIGO_CARTERA           True
DIGITAL_3_MESES          True
CAMINO_DIGITAL           True
SF_FINANCIACION_TT       True
SF_FONDOS_INVER         False
SF_PLAN_PENSION         False
LP_DOMIC_INGRESOS       False
LP_TARJ_CREDITO         False
LP_TARJ_REVOLVING       False
LP_REC_LTGA_OTR         False
LP_OFIC_INTERNET        False
MARCA_BANCA_PERSONAL    False
MARCA_AF_CCTE            True
EDAD                     True
SEGMENTO_VALOR          False
SEGMENTO_RECORRIDO      False
DZ                      False
OFICINA                 False
LP_SEG_VIDA             False
LP_SEG_ACCIDENT         False
LP_SEG_MEDICOS          False
LP_SEG_MULTIRRIES       False
LP_SEG_AUTO             False
dtype: bool

In [17]:
df.drop(df.columns[[0]],axis='columns', inplace = True)

#### - Values of the columns with nans
     Int or Float columns not listed.

In [8]:
#print(df['SF_AH_CAPTACION_TT'].unique())
print(df['TIP_GESTOR'].unique())
#print(df['GESTOR'].unique())
print(df['CARTERA_PATRON'].unique())
#print(df['CODIGO_CARTERA'].unique())
print(df['DIGITAL_3_MESES'].unique())
#print(df['SF_FINANCIACION_TT'].unique())
print(df['MARCA_AF_CCTE'].unique())
#print(df['EDAD'].unique())
print(df['CAMINO_DIGITAL'].unique())

['ASESOR FINANCIERO' nan 'SUBDIRECCIÃ“N DE OFICINA']
['ASESORAMIENTO FINANCIERO' nan 'TUTELA']
['SI' 'NO' nan]
['AF' 'CCTE' nan]
['TRANSACCIONAL' 'POCO USO' nan 'COMPRADOR' 'CONSULTIVO']

#### - Fill the columns that have nans with data and values according to their nature

In [9]:
df.fillna({'SF_AH_CAPTACION_TT': 0, 'TIP_GESTOR' : 'SIN GESTOR', 'GESTOR': 00000, 'CARTERA_PATRON': 'SIN CARTERA',
          'CODIGO_CARTERA': 00000, 'DIGITAL_3_MESES':'NO','CAMINO_DIGITAL':'SIN USO','SF_FINANCIACION_TT': 0,
           'MARCA_AF_CCTE':'SIN MARCA','EDAD':0},
         inplace = True)

#### - Check again for nans

In [10]:
df.isna().any()

Unnamed: 0              False
PERSONA                 False
SF_AH_CAPTACION_TT      False
ESTA_CARTERIZADO        False
CLIENTE_BBP             False
TIP_GESTOR              False
GESTOR                  False
CARTERA_PATRON          False
CODIGO_CARTERA          False
DIGITAL_3_MESES         False
CAMINO_DIGITAL          False
SF_FINANCIACION_TT      False
SF_FONDOS_INVER         False
SF_PLAN_PENSION         False
LP_DOMIC_INGRESOS       False
LP_TARJ_CREDITO         False
LP_TARJ_REVOLVING       False
LP_REC_LTGA_OTR         False
LP_OFIC_INTERNET        False
MARCA_BANCA_PERSONAL    False
MARCA_AF_CCTE           False
EDAD                    False
SEGMENTO_VALOR          False
SEGMENTO_RECORRIDO      False
DZ                      False
OFICINA                 False
LP_SEG_VIDA             False
LP_SEG_ACCIDENT         False
LP_SEG_MEDICOS          False
LP_SEG_MULTIRRIES       False
LP_SEG_AUTO             False
dtype: bool

In [11]:
#print(df['SF_AH_CAPTACION_TT'].unique())
print(df['TIP_GESTOR'].unique())
#print(df['GESTOR'].unique())
print(df['CARTERA_PATRON'].unique())
#print(df['CODIGO_CARTERA'].unique())
print(df['DIGITAL_3_MESES'].unique())
#print(df['SF_FINANCIACION_TT'].unique())
print(df['MARCA_AF_CCTE'].unique())
#print(df['EDAD'].unique())
print(df['CAMINO_DIGITAL'].unique())

['ASESOR FINANCIERO' 'SIN GESTOR' 'SUBDIRECCIÃ“N DE OFICINA']
['ASESORAMIENTO FINANCIERO' 'SIN CARTERA' 'TUTELA']
['SI' 'NO']
['AF' 'CCTE' 'SIN MARCA']
['TRANSACCIONAL' 'POCO USO' 'SIN USO' 'COMPRADOR' 'CONSULTIVO']

# Data type check

#### - See data type of each column

In [12]:
df.dtypes

Unnamed: 0                int64
PERSONA                   int64
SF_AH_CAPTACION_TT      float64
ESTA_CARTERIZADO         object
CLIENTE_BBP              object
TIP_GESTOR               object
GESTOR                  float64
CARTERA_PATRON           object
CODIGO_CARTERA          float64
DIGITAL_3_MESES          object
CAMINO_DIGITAL           object
SF_FINANCIACION_TT      float64
SF_FONDOS_INVER         float64
SF_PLAN_PENSION         float64
LP_DOMIC_INGRESOS         int64
LP_TARJ_CREDITO           int64
LP_TARJ_REVOLVING         int64
LP_REC_LTGA_OTR           int64
LP_OFIC_INTERNET          int64
MARCA_BANCA_PERSONAL     object
MARCA_AF_CCTE            object
EDAD                    float64
SEGMENTO_VALOR           object
SEGMENTO_RECORRIDO       object
DZ                        int64
OFICINA                   int64
LP_SEG_VIDA               int64
LP_SEG_ACCIDENT           int64
LP_SEG_MEDICOS            int64
LP_SEG_MULTIRRIES         int64
LP_SEG_AUTO               int64
dtype: object

#### - Convert columns to necessary data type

In [13]:
df[['PERSONA','GESTOR', 'CODIGO_CARTERA','LP_DOMIC_INGRESOS','LP_TARJ_CREDITO',
   'LP_TARJ_REVOLVING','LP_REC_LTGA_OTR','LP_OFIC_INTERNET','DZ','OFICINA',
   'LP_SEG_VIDA','LP_SEG_ACCIDENT','LP_SEG_MEDICOS','LP_SEG_MULTIRRIES','LP_SEG_AUTO']] = df[['PERSONA',
   'GESTOR', 'CODIGO_CARTERA','LP_DOMIC_INGRESOS','LP_TARJ_CREDITO',
   'LP_TARJ_REVOLVING','LP_REC_LTGA_OTR','LP_OFIC_INTERNET','DZ','OFICINA',
   'LP_SEG_VIDA','LP_SEG_ACCIDENT','LP_SEG_MEDICOS','LP_SEG_MULTIRRIES','LP_SEG_AUTO']].astype(object);

In [14]:
df.EDAD = df.EDAD.astype(int);

In [15]:
df.dtypes

Unnamed: 0                int64
PERSONA                  object
SF_AH_CAPTACION_TT      float64
ESTA_CARTERIZADO         object
CLIENTE_BBP              object
TIP_GESTOR               object
GESTOR                   object
CARTERA_PATRON           object
CODIGO_CARTERA           object
DIGITAL_3_MESES          object
CAMINO_DIGITAL           object
SF_FINANCIACION_TT      float64
SF_FONDOS_INVER         float64
SF_PLAN_PENSION         float64
LP_DOMIC_INGRESOS        object
LP_TARJ_CREDITO          object
LP_TARJ_REVOLVING        object
LP_REC_LTGA_OTR          object
LP_OFIC_INTERNET         object
MARCA_BANCA_PERSONAL     object
MARCA_AF_CCTE            object
EDAD                      int64
SEGMENTO_VALOR           object
SEGMENTO_RECORRIDO       object
DZ                       object
OFICINA                  object
LP_SEG_VIDA              object
LP_SEG_ACCIDENT          object
LP_SEG_MEDICOS           object
LP_SEG_MULTIRRIES        object
LP_SEG_AUTO              object
dtype: object

In [16]:
df.columns

Index(['Unnamed: 0', 'PERSONA', 'SF_AH_CAPTACION_TT', 'ESTA_CARTERIZADO',
       'CLIENTE_BBP', 'TIP_GESTOR', 'GESTOR', 'CARTERA_PATRON',
       'CODIGO_CARTERA', 'DIGITAL_3_MESES', 'CAMINO_DIGITAL',
       'SF_FINANCIACION_TT', 'SF_FONDOS_INVER', 'SF_PLAN_PENSION',
       'LP_DOMIC_INGRESOS', 'LP_TARJ_CREDITO', 'LP_TARJ_REVOLVING',
       'LP_REC_LTGA_OTR', 'LP_OFIC_INTERNET', 'MARCA_BANCA_PERSONAL',
       'MARCA_AF_CCTE', 'EDAD', 'SEGMENTO_VALOR', 'SEGMENTO_RECORRIDO', 'DZ',
       'OFICINA', 'LP_SEG_VIDA', 'LP_SEG_ACCIDENT', 'LP_SEG_MEDICOS',
       'LP_SEG_MULTIRRIES', 'LP_SEG_AUTO'],
      dtype='object')

In [20]:
df.columns = ['cliente', 'saldo_captacion', 'esta_carterizado', 'cliente_bbp', 'tipo_gestor', 'gestor',
             'cartera_patron','codigo_cartera','digital_3_meses','camino_digital','saldo_financiacion',
             'saldo_ffii','saldo_plp','lp_ingresos','lp_tjta_cto','lp_tjt_rev','lp_rbos','lp_of_int',
             'marca_bp','marca_ccte','edad','seg_valor','seg_recorrido','dz','oficina','lp_seg_vida',
             'lp_seg_acc','lp_seg_medico','lp_seg_hogar','lp_seg_auto']

In [21]:
df.columns

Index(['cliente', 'saldo_captacion', 'esta_carterizado', 'cliente_bbp',
       'tipo_gestor', 'gestor', 'cartera_patron', 'codigo_cartera',
       'digital_3_meses', 'camino_digital', 'saldo_financiacion', 'saldo_ffii',
       'saldo_plp', 'lp_ingresos', 'lp_tjta_cto', 'lp_tjt_rev', 'lp_rbos',
       'lp_of_int', 'marca_bp', 'marca_ccte', 'edad', 'seg_valor',
       'seg_recorrido', 'dz', 'oficina', 'lp_seg_vida', 'lp_seg_acc',
       'lp_seg_medico', 'lp_seg_hogar', 'lp_seg_auto'],
      dtype='object')

In [22]:
df.head()

,cliente,saldo_captacion,esta_carterizado,cliente_bbp,tipo_gestor,gestor,cartera_patron,codigo_cartera,digital_3_meses,camino_digital,...,edad,seg_valor,seg_recorrido,dz,oficina,lp_seg_vida,lp_seg_acc,lp_seg_medico,lp_seg_hogar,lp_seg_auto
0,54073,606781.74,SI,NO,ASESOR FINANCIERO,34000,ASESORAMIENTO FINANCIERO,34624,SI,TRANSACCIONAL,...,76,ALTO,BAJO RECORRIDO,1,110,0,0,0,0,0
1,54074,642217.25,SI,NO,ASESOR FINANCIERO,11425,ASESORAMIENTO FINANCIERO,37074,NO,POCO USO,...,72,ALTO,BAJO RECORRIDO,1,110,0,0,0,0,0
2,54075,377560.33,SI,NO,ASESOR FINANCIERO,34000,ASESORAMIENTO FINANCIERO,34624,NO,SIN USO,...,75,ALTO,BAJO RECORRIDO,1,110,0,0,0,1,0
3,54076,319380.38,SI,NO,ASESOR FINANCIERO,23108,ASESORAMIENTO FINANCIERO,13835,SI,COMPRADOR,...,69,ALTO,BAJO RECORRIDO,1,110,0,0,0,0,0
4,54077,293443.44,SI,NO,ASESOR FINANCIERO,23108,ASESORAMIENTO FINANCIERO,13835,SI,CONSULTIVO,...,72,ALTO,BAJO RECORRIDO,1,110,0,0,0,0,1

In [16]:
# df.sort_values(by = 'PERSONA').to_excel('df.xlsx')

In [24]:
df.sort_values(by = 'cliente').to_csv('df.csv')